<app-navigation></app-navigation>
<main class="flex-shrink-0">

  <div class="container">
    <div class="row d-flex justify-content-center">
      <h1 class="h1 mb-3 text-center">Token List</h1>
      <div class="col-md-6">
        <ul class="list-group text-center">
          <li class="list-group-item" *ngFor="let address of accounts">
            <a class="text-decoration-none" routerLink="/vote/{{address}}">{{address}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>
