<app-navigation></app-navigation>
<main class="flex-shrink-0">

  <div class="container">
    <div class="row d-flex justify-content-center">
      <h1 class="h1 mb-3 text-center">Token List</h1>
      <p class="mb-3 text-center">(Please choose a token to vote)</p>
      <div class="col-lg-6 mb-3">
        <ul class="list-group text-center">
          <li class="list-group-item">
            <a class="text-decoration-none" routerLink="/vote/{{account}}">{{account}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>
